* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.audio{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; 
}

#main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-image: url(./imgs/Home.png);
    background-size: cover;
    margin-bottom: 100px;
}

#main .sbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25em;
}

#main .button {
    display: inline-block;

    font-size: 20px;
    background:rgb(214, 212, 212);
    color: black;
    font-weight: 600;
    text-decoration: none;
    text-align: center;

    width: 200px;
    padding: 18px 30px;
    border-radius: 10px;
}

#main .button:hover {
    background:black;
    color: rgb(214, 212, 212);
    transition: .5s ;
}

#gallery, #description {
    min-height: 100vh;
    padding-top: 50px;
    text-align: center;
}

#gallery h1, #img1{
    font-size: 50px;
}

#gallery p{
    font-size: 20px;
    padding-bottom: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery a{
    display: block;
    flex: 1 1 calc(20.33% - 10px); 
    position: relative;
    overflow: hidden;
    text-decoration: none; 
}

.gallery img {
    width: 100%;
    height: auto;
    opacity: .6;
    transition: .5s;
    aspect-ratio:10/16;
    object-fit: cover;
}

.gallery a:hover img {
    transform: scale(1.1);
    opacity: 1;
}

#description .img {
    width: 20em;
    padding-top: 10px;
    margin: 50px 0 50px 0;
}

#description .imgR {
    margin-right: 6em;
}

#description .imgL {
    margin-left: 6em;
}

#description #img1 {
    
    padding-top: 50px;
}

.contentL, .contentR {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 10vh;
}

.text {
    flex: 1; 
    font-size: 20px;
}

.contentR {
    background-color: rgb(235, 235, 235);
}

.contentL .text {
    text-align: left;
    margin-left: 70px;
    margin-right: 200px;
} 

.contentR .text {
    text-align: right;
    margin-right: 70px;
    margin-left: 200px;
}

.img img {
    width: 100%;
    height: auto;
    aspect-ratio: 10/16;
    object-fit: cover;
}

footer {
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(163, 163, 163);
    font-weight: 600;
    font-size: 20px
}

footer a:hover {
    color: rgb(248, 131, 131);
}